$mainColor: #f2f3f7;
$textMainColor: #33a9ee;
$textMainColor2: #333333;
$inputTextColor: #4b4b4b;

$buttonMainColor: #218bcb;
$buttonHoverColor: #1d7eba;

$iconAndTextColor: #7c7c7c;
$textSubColor: #929292;
$inputUnFocus: #e2e9f3;
$inputFilledColor: #f8fbff;
$successBgColor: #c7ffe7;
$indicatorColor: hsla(156, 78%, 55%, 0.258);
$successTextColor: #30e69e;
$progressColor: #0ea86b;
